/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

#about-section{
  display: flex;
  }

/* Header */
header {
  /* text-align: center; */
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}



.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.portfolio-row-item{
  display: flex;
  flex: 1;
  align-items: flex-start;
  }

  .portfolio-items{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px  5px;
    }


  /* #portfolio section {
    margin-right: 20px;
  }
  
  #portfolio section p {
    font-size: 14px;
  } */

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
